version: '3.8'
services:
  shell:
    build:
      context: ./
    image: gps-stuff:latest
    command: [ ]
    entrypoint: [ ]
    depends_on:
      - db
    volumes:
      - ./:/src
    env_file:
      - .flaskenv
  db:  # Port 5432
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: gps-stuff
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - 5432:5432

volumes:
  db_data:
